<div class="col-md-4">
  <div class="well">
    <%= link_to get_image_user(user, "media-object"),
      [:admin, user], class: "pull-left" %>
    <div class="media-body">
      <p><%= user.name %></p>
      <p><%= user.email %></p>
      <p><%= link_to t("views.users.index.detail_user"), [:admin, user] %></p>
      <% if can? :delete, [:admin, user] %>
        <p>
          <%= link_to t("admin.users.delete"), [:admin, user], method: :delete,
            data: {confirm: t("admin.users.are_you_sure")},
            class: "label btn btn-danger " %>
        </p>
      <% end %>
      <% if user.user? %>
        <% if can? :edit, [:admin, user] %>
          <p>
            <%= link_to t("admin.users.manager"), admin_user_path(user, role: :manager),
              method: :put, remote: true, class: "btn btn-info margin_width" %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

