<% provide :title, t("views.users.new.create") %>
<% provide :button_text, t("views.users.new.create") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= t "views.users.new.create" %></h1>
    <div class="form-login">
      <%= form_for [:admin, @user] do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true,
          class: "form-control input-sm chat-input" %>

        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "off",
          class: "form-control input-sm chat-input" %>

        <%= f.label :phone %>
        <%= f.number_field :phone, autocomplete: "off",
          class: "form-control input-sm chat-input" %>

        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>
            <%= t("views.password.edit.charact_min") %>)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off",
          class: "form-control input-sm chat-input" %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off",
          class: "form-control input-sm chat-input" %>
        <div class="wrapper">
          <%= f.submit yield(:button_text), class: "btn btn-primary btn-md" %>
        </div >
      <% end %>
    </div>
  </div>
</div>
